@model WebApplication1.Models.Pessoa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomePessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomePessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpfPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpfPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rgPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rgPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonePessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonePessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senhaPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senhaPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCadastroPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCadastroPessoa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idPessoa" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
