@model WebApplication1.Models.Servico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricacaoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricacaoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notaServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notaServico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idServico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
